/* 
    Document   : login
    Created on : 08/08/2013, 20:14:41
    Author     : rafael
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.login{
    
}

body{
    
    width: 300px;
    height: 300px;
    margin: auto;
}

form li{
    
   list-style: none;
   padding-left: 0px;
   margin-left: 0px;
}

ul{
    
    margin-left: 0px;
    padding-left: 0px;
}

label{
    
    display: block;
}